.home{
    width: 100%;
    padding-top: var(--header-height);
    display: flex;
    align-items: center;
    background-image: url("../img/background.jpg");
    height: calc(100vh - var(--header-height));
    justify-content: space-evenly;
}


.home__title{
    font-size: 3rem;
}

.home__title:nth-child(1){
    line-height: 1.3;
}

.home__child__text{
    font-size: var(--h2-font-size);
    font-family: "Nunito";
    font-style: italic;
}

.home__text{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media screen and (max-width:1098px) {
    .home{
        flex-direction: column;
        height: auto;
    }
    .home__text{
        align-items: center;
        width: 100%;
    }
    .home__child__text{
        text-align: left;
    }
    .home__img{
        margin-top: 4rem;
    }
}

.gap{
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background-image: url("../img/background.jpg");
}

@media screen and (max-width:786px) {
    .home__title{
        margin-top: var(--header-height);
        font-size: xx-large;
    }
}